@inject IUserService service

@{
    bool isLoggedIn = false;
    string role = string.Empty;

    if (User?.Identity?.IsAuthenticated ?? false)
    {
        if (!await service.IsInRoleAsync(new string[] { "User" }, User.Id()))
        {
            var user = await this.service.FindUserByIdAsync(User.Id());
            await service.AddUserToRoleAsync(user, "User");
            role = "User";
        }
        else if (await service.IsInRoleAsync(new string[] { "Admin" }, User.Id()))
        {
            role = "Admin";
        }
        else if (await service.IsInRoleAsync(new string[] { "Worker" }, User.Id()))
        {
            role = "Worker";
        }
        else
        {
            role = "User";
        }
        isLoggedIn = true;
    }

    var pageOptions = ViewContext.RouteData.Values["controller"] + "/" + ViewContext.RouteData.Values["action"];

    Console.WriteLine(pageOptions);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketVault</title>
    <link rel="icon" type="image/x-icon" href="~/marketvault_logo.png" />
    <link rel="stylesheet" href="~/css/nomenclatures.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/errors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/welcome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchPanel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/faq.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
</head>
<body>
    <header class="layoutHeader">
        <nav>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index"></a>
                <div>
                    <ul class="linksUl">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-controller="Home" asp-action="FAQ">FAQ</a>
                        </li>
                        @if (isLoggedIn)
                        {
                            if (role == "Admin")
                            {
                                <li>
                                    <a asp-area="Admin"
                                       asp-action="Index"
                                       asp-controller="Admin">
                                        Admin Area
                                    </a>
                                </li>

                                <li>
                                    <select class="selectOption" onchange="redirect(this)">
                                        <option disabled value="">Nomenclatures</option>
                                        <option value="@Url.Action("All", "Product")">Products</option>
                                        <option value="@Url.Action("All", "CounterParty")">Counter Parties</option>
                                        <option value="@Url.Action("All", "ItemGroup")">Item Groups</option>
                                        <option value="@Url.Action("All", "Firm")">Firm</option>
                                        <option value="@Url.Action("All", "Bank")">Banks</option>
                                        <option value="@Url.Action("All", "Address")">Addresses</option>
                                    </select>

                                </li>
                                <li>
                                    <select class="selectOption" onchange="redirect(this)">
                                        <option disabled value="">Add a nomenclature</option>
                                        <option value="@Url.Action("Add", "Product")">Add a product</option>
                                        <option value="@Url.Action("Add", "CounterParty")">Add a counter party</option>
                                        <option value="@Url.Action("Add", "ItemGroup")">Add an item group</option>
                                        <option value="@Url.Action("Add", "Firm")">Add a firm</option>
                                        <option value="@Url.Action("Add", "Bank")">Add a bank</option>
                                        <option value="@Url.Action("Add", "Address")">Add an address</option>
                                    </select>
                                </li>

                                <li>
                                    <select class="selectOption" onchange="redirect(this)">
                                        <option disabled value="">Operations</option>
                                        <option value="@Url.Action("New", "Operation")">Add an operation</option>
                                        <option value="@Url.Action("GetYourOperations", "Operation")">Your operations</option>
                                    </select>
                                </li>
                            }
                            else if (role == "Worker")
                            {
                                <li>
                                    <select class="selectOption" onchange="redirect(this)">
                                        <option disabled value="">Nomenclatures</option>
                                        <option value="@Url.Action("All", "Product")">Products</option>
                                        <option value="@Url.Action("All", "CounterParty")">Counter Parties</option>
                                        <option value="@Url.Action("All", "ItemGroup")">Item Groups</option>
                                        <option value="@Url.Action("All", "Firm")">Firm</option>
                                        <option value="@Url.Action("All", "Bank")">Banks</option>
                                        <option value="@Url.Action("All", "Address")">Addresses</option>
                                    </select>
                                </li>
                                <li>
                                    <select class="selectOption" onchange="redirect(this)">
                                        <option disabled value="">Add a nomenclature</option>
                                        <option value="@Url.Action("Add", "Product")">Add a product</option>
                                        <option value="@Url.Action("Add", "CounterParty")">Add a counter party</option>
                                        <option value="@Url.Action("Add", "ItemGroup")">Add an item group</option>
                                        <option value="@Url.Action("Add", "Firm")">Add a firm</option>
                                        <option value="@Url.Action("Add", "Bank")">Add a bank</option>
                                        <option value="@Url.Action("Add", "Address")">Add an address</option>
                                    </select>
                                </li>

                                <li>
                                    <select class="selectOption" onchange="redirect(this)">
                                        <option disabled value="">Operations</option>
                                        <option value="Option1">Add operation</option>
                                        <option value="Option2">Your operations</option>
                                    </select>
                                </li>

                            }
                            else
                            {
                                <li>
                                    <select class="selectOption" onchange="redirect(this)">
                                        <option disabled value="">Nomenclatures</option>
                                        <option value="@Url.Action("All", "Product")">Products</option>
                                        <option value="@Url.Action("All", "CounterParty")">Counter Parties</option>
                                        <option value="@Url.Action("All", "ItemGroup")">Item Groups</option>
                                    </select>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>

    window.onload = e => {
        const selectElements = document.getElementsByClassName('selectOption');
        const currentUrl = '/' + window.location.href.split('/').slice(-2).join('/');
        let selectedList = false;

        for (var select of selectElements) {
            let selectedOptionExists = false;
            for (var option of select) {
                if (option.value === currentUrl) {
                    option.selected = 'selected';
                    selectedOptionExists = true;
                    selectedList = true;
                    break;
                }
            }

            if (!selectedOptionExists){
                select[0].selected = 'selected';
            }

            if (selectedList) {
                break;
            }
        }
    };

    function redirect(selectObject) {
        var selectedOption = selectObject.value;
        if (selectedOption !== "") {
            window.location.href = selectedOption;
        }
    }
</script>