@using MarketVault.Core;

@model Pager;

<div class="paginationPagesContainer">
    @if (Model.TotalPages > 0)
    {
        <ul class="">
            @if (Model.CurrentPage > 1)
            {
                <li class="">
                    <a class=""
                       asp-controller="@Model.Controller"
                       asp-action="@Model.Action"
                       asp-route-pages="1"
                       asp-route-searchSortType="@Model.SearchSortingType"
                       asp-route-searchViewName="@Model.SearchViewName"
                       asp-route-searchQuery="@Model.SearchQuery">
                        First
                    </a>
                </li>
                <li class="">
                    <a class=""
                       asp-controller="@Model.Controller"
                       asp-action="@Model.Action"
                       asp-route-pages="@(Model.CurrentPage - 1)"
                       asp-route-searchSortType="@Model.SearchSortingType"
                       asp-route-searchViewName="@Model.SearchViewName"
                       asp-route-searchQuery="@Model.SearchQuery">
                        Previous
                    </a>
                </li>
            }

            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li class=" @(i == Model.CurrentPage ? "active" : "")">
                    <a class=""
                       asp-controller="@Model.Controller"
                       asp-action="@Model.Action"
                       asp-route-pages="@i"
                       asp-route-searchSortType="@Model.SearchSortingType"
                       asp-route-searchViewName="@Model.SearchViewName"
                       asp-route-searchQuery="@Model.SearchQuery">
                        @i
                    </a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="">
                    <a class=""
                       asp-controller="@Model.Controller"
                       asp-action="@Model.Action"
                       asp-route-pages="@(Model.CurrentPage + 1)"
                       asp-route-searchSortType="@Model.SearchSortingType"
                       asp-route-searchViewName="@Model.SearchViewName"
                       asp-route-searchQuery="@Model.SearchQuery">
                        Next
                    </a>
                </li>
                <li class="">
                    <a class=""
                       asp-controller="@Model.Controller"
                       asp-action="@Model.Action"
                       asp-route-pages="@Model.TotalPages"
                       asp-route-searchSortType="@Model.SearchSortingType"
                       asp-route-searchViewName="@Model.SearchViewName"
                       asp-route-searchQuery="@Model.SearchQuery">
                        Last
                    </a>
                </li>
            }
        </ul>
    }
</div>