@model ProductFormModel

@{
    ViewBag.Title = "Add product";
}

<link rel="stylesheet" href="~/css/nomenclatures..css" />

<div class="addProductContainer">
    <form asp-action="Add" asp-controller="Product" id="addProductForm" novalidate>
        <div>
            <div>
                <label asp-for="Name"> Product name</label>
                <input asp-for="Name" />
            </div>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <div>
                <label asp-for="CashRegisterName"> Product cash register name</label>
                <input asp-for="CashRegisterName" />
            </div>
            <span asp-validation-for="CashRegisterName"></span>
        </div>
        <div>
            <div>
                <label asp-for="CodeForScales"> Product code for scales</label>
                <input asp-for="CodeForScales" type="number" />
            </div>
        </div>
        <div>
            <div>
                <label asp-for="SalePrice"> Product sale price</label>
                <input id="SalePriceInput" asp-for="SalePrice" />
            </div>
            <span asp-validation-for="SalePrice"></span>
        </div>
        <div>
            <div>
                <label asp-for="PurchasePrice">Product purchase price</label>
                <input id="PurchasePriceInput" asp-for="PurchasePrice" />
            </div>
            <span asp-validation-for="PurchasePrice"></span>
        </div>
        <div>
            <div class="productDescriptionDiv">
                <label asp-for="Description">Product description</label>
                <textarea asp-for="Description" rows="2" cols="2"></textarea>
            </div>
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <div>
                <label asp-for="ItemGroupId">Select item group</label>
                <select asp-for="ItemGroupId">
                    <option disabled selected value="">Select Item Group...</option>
                    @foreach (ItemGroupViewModel itemGroup in Model.ItemGroups)
                    {
                        <option value="@itemGroup.Id">@itemGroup.Name</option>
                    }
                </select>
            </div>
            <span asp-validation-for="ItemGroupId"></span>
        </div>
        <div>
            <div>
                <label asp-for="MeasureId">Select measure</label>
                <select asp-for="MeasureId">
                    <option disabled selected value="">Select Measure...</option>
                    @foreach (MeasureViewModel measure in Model.Measures)
                    {
                        <option value="@measure.Id">@measure.Value</option>
                    }
                </select>
            </div>
            <span asp-validation-for="MeasureId"></span>
        </div>

        <div id="popUpContainerOverlay">
            <div id="popUpContainer">
                <div id="xBtnDiv">
                    <a id="xBtn">
                        ✘
                    </a>
                </div>
                <button onclick=
                    "ClickAddBtn(@Model.BarcodeMaxLength,
                    @Model.BarcodeMinLength)">Add barcode</button>
            </div>
        </div>

        <button type="button" id="addBarcodeBtn">Add Barcode</button>

        <button type="submit" id="addProductBtn">Add Product</button>
    </form>
</div>

<script>
    console.log(2);
    var popUpContainerOverlay = document.getElementById("popUpContainerOverlay");
    var popUpContainer = document.getElementById("popUpContainer");

    popUpContainerOverlay.style.display = 'none';
    popUpContainer.style.display = 'none';

    function ClickAddBtn(barcodeMaxLength, barcodeMinLength) {
        console.log(1);
        var btn = document.getElementById('addBarcodeBtn');
        var popUpContainerOverlay = document.getElementById("popUpContainerOverlay");
        var popUpContainer = document.getElementById("popUpContainer");

        var xMark = document.getElementById('xBtn');

        xMark.addEventListener('click', function (event2) {
            event2.preventDefault();
            popUpContainer.style.display = 'none';
            popUpContainerOverlay.style.display = 'none';
        });

            // $.ajax({
            //     method: 'GET',
            //     url: 'myservice/username',
            //     data: { id: '42' }
            // })
            // .done(function success(data) {

            // })
            // .fail(function fail(data, status) {

            // });

            popUpContainerOverlay.style.display = 'flex';
            popUpContainer.style.display = 'block';

            var parent = document.getElementById('popUpContainer')
            var section = document.createElement('section');
            section.id = 'sectionPopUp';
            parent.appendChild(section);

            popUpContainer.addEventListener('click', function (event2) {
                event2.stopPropagation();
            });

            popUpContainerOverlay.addEventListener('click', function (event2) {
                event2.preventDefault();

                popUpContainer.style.display = 'none';
                popUpContainerOverlay.style.display = 'none';
            });
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}