@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "All products";
    int counter = 1;

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>

<script src="@Url.Content("~/js/marketvault/src/Components/ProductViewComponent.jsx")"></script>
<script>
    let props = {};
</script>

<link rel="stylesheet" href="~/css/nomenclatures..css" />

<div class="viewContainer">
    <partial name="_PagerPartial" model="@pager" />

    <div class="productsContainer">
        @foreach (ProductViewModel product in Model)
        {
            <div class="productContainer">
                <div id="@counter" class="productComponentContainer"></div>
                <script>
                    props = {
                        name: '@product.Name',
                        cashRegisterName: '@product.CashRegisterName',
                        quantity: @product.Quantity,
                        itemGroup: '@product.ItemGroupName',
                        purchasePrice: @product.PurchasePrice,
                        salePrice: @product.SalePrice,
                        codeForScales: '@product.CodeForScales',
                        dateAdded: '@product.DateAdded',
                        dateModified: '@product.DateModified',
                        measure: '@product.Measure'
                    };

                    ReactDOM.render(
                        React.createElement(ProductViewComponent, props),
                        document.getElementById(@counter),
                    );
                </script>
                @{
                    counter++;
                }
            </div>
        }
    </div>

    <partial name="_PagerPartial" model="@pager" />
</div>