@model ProductDetailsViewModel

@{
    ViewBag.Title = "Product Details";
}

<link rel="stylesheet" href="~/css/nomenclatures..css" />

<div class="productDetailsContainer">
    <div class="productDetailsDiv">
        <label asp-for="NomenclatureNumber">Product nomenclature number</label>
        <h4>@Model.NomenclatureNumber</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="ArticleNumber">Product article number</label>
        <h4>@Model.ArticleNumber</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="Name">Product name</label>
        <h4>@Model.Name</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="CashRegisterName">Product cash register name</label>
        <h4>@Model.CashRegisterName</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="Quantity">Product quantity</label>
        <h4>@Model.Quantity</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="DateAdded">Product date when added</label>
        <h4>@Model.DateAdded.ToString("dddd, MMMM d, yyyy HH:mm:ss")</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="DateModified">Product date when last modified</label>
        <h4>@Model.DateModified.ToString("dddd, MMMM d, yyyy HH:mm:ss")</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="CodeForScales">Product code for scales</label>
        <h4>@Model.CodeForScales</h4>
    </div>
    <div class="productDetailsDiv"> 
        <label asp-for="SalePrice">Product sale price</label>
        <h4>@Model.SalePrice</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="PurchasePrice">Product purchase price</label>
        <h4>@Model.PurchasePrice</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="Description">Product description</label>
        <h4>@Model.Description</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="ItemGroupName">Item group</label>
        <h4>@Model.ItemGroupName</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="Measure">Measure</label>
        <h4>@Model.Measure</h4>
    </div>
    <div class="productDetailsDiv">
        <label asp-for="Barcodes">Barcodes</label>
        @if (Model.Barcodes.Count() == 0)
        {
            <div>
                <p>None</p>
            </div>
        }
        else
        {
            <div>
                @foreach (string barcode in Model.Barcodes)
                {
                     <p>@barcode</p>      
                }
            </div>
        }
    </div>

    <div id="detailsProductBtns">
        <a asp-controller="Product" asp-action="All" id="backToAllProductsBtn">
            Back to all products
        </a>

        <a asp-controller="Home" asp-action="Index" id="homePageInProductsBtn">
            Home page
        </a>
    </div>
</div>
