@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "All users";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    else
    {
        pager.Action = "GetAllUsers";
        pager.Controller = "Admin";
    }
}
<div>
    @if (pager.TotalPages != 1)
    {
        <partial name="_PagerPartial" model="@pager" />
    }
    <table class="allUsersTable">
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Role</td>
        </tr>
        @foreach (UserViewModel user in Model)
        {
            <tr>
                <td class="allUsersCell">@user.Id</td>
                <td class="allUsersCell">@user.FirstName</td>
                <td class="allUsersCell">@user.LastName</td>
                <td class="allUsersCell">@user.Email</td>
                <td class="allUsersCell">@user.Role</td>
                @if (user.Role == "Worker")
                {
                    <td class="allUsersBtnCell"><a asp-controller="Admin" asp-action="RemoveWorkerRole" asp-route-userId="@user.Id">Remove from role "worker"</a></td>
                }
                else if (user.Role == "User")
                {
                    <td class="allUsersBtnCell"><a asp-controller="Admin" asp-action="AddWorkerRole" asp-route-userId="@user.Id">Add to role "worker"</a></td>
                }
                <td class="allUsersBtnCell"><a asp-controller="Admin" asp-action="RemoveUser" asp-route-userId="@user.Id">Remove</a></td>
            </tr>
        }
    </table>
    @if (pager.TotalPages != 1)
    {
        <partial name="_PagerPartial" model="@pager" />
    }
</div>
