@model CounterPartyDetailsViewModel

@{
    ViewBag.Title = "Counter party Details";
}

<div class="counterPartyDetailsContainer">
    <div class="counterPartyDetailsDiv">
        <label asp-for="Name">Counter party name</label>
        <h4>@Model.Name</h4>
    </div>
    
    <div class="counterPartyDetailsDiv">
        <label asp-for="VATNumber">Counter party VAT Number</label>
        <h4>@Model.VATNumber</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="ValueAddedTaxLawId">Counter party VATL Id</label>
        <h4>@Model.ValueAddedTaxLawId</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="BankName">Counter party bank name</label>
        <h4>@Model.BankName</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="BankCode">Counter party bank code</label>
        <h4>@Model.BankCode</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="BankIBAN">Counter party bank IBAN</label>
        <h4>@Model.BankIBAN</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="BankAddress">Counter party bank address</label>
        <h4>@Model.BankAddress</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="FirmName">Counter party firm name</label>
        <h4>@Model.FirmName</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="FirmEmail">Counter party firm email</label>
        <h4>@Model.FirmEmail</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="FirmPhoneNumber">Counter party firm phone number</label>
        <h4>@Model.FirmPhoneNumber</h4>
    </div>

    <div class="counterPartyDetailsDiv">
        <label asp-for="FirmResponsiblePersonName">Counter party firm responsible person name</label>
        <h4>@Model.FirmResponsiblePersonName</h4>
    </div>
    
    <div class="counterPartyDetailsDiv">
        <label asp-for="FirmAddress">Counter party firm address</label>
        <h4>@Model.FirmAddress</h4>
    </div>

    <div id="detailsProductBtns">
        <a asp-controller="CounterParty" asp-action="All" id="backToAllCounterPartiesBtn">
            Back to all counter parties
        </a>

        <a asp-controller="Home" asp-action="Index" id="homePageInCounterPartiesBtn">
            Home page
        </a>
    </div>
</div>
