@model StatisticViewModel

@{
    ViewBag.Title = "Statistics";
}

<div class="statisticsContainer">
    <div>
        <p>Total Products</p>
        <p>@Model.TotalProducts</p>
    </div>

    <div>
        <p>Total Banks</p>
        <p>@Model.TotalBanks</p>
    </div>

    <div>
        <p>Total Addresses</p>
        <p>@Model.TotalAddresses</p>
    </div>

    <div>
        <p>Total Firms</p>
        <p>@Model.TotalFirms</p>
    </div>

    <div>
        <p>Total Item Groups</p>
        <p>@Model.TotalItemGroups</p>
    </div>

    <div>
        <p>Total Users</p>
        <p>@Model.TotalUsers</p>
    </div>
</div>