@model StatisticViewModel

@{
    ViewBag.Title = "Statistics";
}

<div class="statisticsContainer">
    <div>
        <label>Total Products</label>
        <p>@Model.TotalProducts</p>
    </div>

    <div>
        <label>Total Banks</label>
        <p>@Model.TotalBanks</p>
    </div>

    <div>
        <label>Total Addresses</label>
        <p>@Model.TotalAddresses</p>
    </div>

    <div>
        <label>Total Firms</label>
        <p>@Model.TotalFirms</p>
    </div>

    <div>
        <label>Total Item Groups</label>
        <p>@Model.TotalItemGroups</p>
    </div>

    <div>
        <label>Total Users</label>
        <p>@Model.TotalUsers</p>
    </div>
</div>